# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
build-QEE*
CMakeLists.txt.user
QEEMain/.vs/*
QEEMain/out
QEEMain/x64/*
QEEMain/QEEMain.vcxproj.filters
QEEMain/QEEMain.vcxproj.user
QEEMain/QEEMain.vcxproj

B23Downloader/.vs/*
B23Downloader/out
B23Downloader/x64/*
B23Downloader/B23Downloader.vcxproj.filters
B23Downloader/B23Downloader.vcxproj.user
B23Downloader/B23Downloader.vcxproj
B23Downloader/*
demo/*
QEECAR/*
CmakeProject1/*
.vs/*
B23Downloader/B23Downloader.qrc
