# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
build-QEE*
QEEMain/.vs/*
QEEMain/out
CMakeLists.txt.user
QEEMain/x64/*
QEEMain/QEEMain.vcxproj.filters
QEEMain/QEEMain.vcxproj.user
QEEMain/QEEMain.vcxproj